* {
  background-color: rgb(255, 233, 146);
  font-family: Papyrus, Copperplate, Arial;
}
/*<--------------------------------->*/
h1, h3 {
  color: red;
  text-align: center;
}

h1 {
  margin-bottom: -21.44px;
}

h3 {
  text-decoration: underline;
  font-family: Copperplate, Papyrus, Arial;
}

.bold-text {
  color: red;
  text-decoration: underline;
}

p {
  text-indent: 5%;
}
/*<--------------------------------->*/
#enchilada img {
  width: 900px;
  height: auto;
  max-width: 100%;
}

#omelette img, #blt img  {
  width: auto;
  height: 600px;
  max-width: 100%;
}

#enchilada, #omelette, #blt {
  text-align: center;
}
/*<--------------------------------->*/
.recipes-container {
  display: flex; /*--flexbox--*/
  align-items: center; /* vertically align */
  justify-content: center;
  flex-wrap: wrap; /* makes items wrap to the next line when space runs out */
  font-size: 40px;
}

#ul1 {
  list-style: none; /* removes bullet points */
  flex: 1; /* lets the ul take up max horizontal space available */
  text-align: center; /* centers list items horizontally */
  padding: 0; /* removes dault padding */
  margin: 0; /* removes dault margin */
}

.recipes-container img {
  max-width: 100%; /* makes the img responsive */
  height: auto;
  flex: 1; /* lets the img take up max horizontal space available */
}

.origin-p {
  line-height: 2.5; /* to add space between the lines */
  margin-bottom: -16px; /* took away space between the 2 <p>'s */
}

.steps {
  line-height: 1.8; /* to add space between the lines */
}
/* order now button */
.button {
  color: black;
  border-color: red;
  font-family: Copperplate, Papyrus, Arial;
  display: block;
  margin: 30px auto;
  padding: 10px;
}

.button:hover {
  background-color: blue;
  color: white;
  border-color: white;
  transition: background-color 6s, color 1s, border-color 3s;
}